body {
    font-family: $font-body;
    color: $very-dark-magenta;
    line-height: 1.6;
    font-size: $font-size-body;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-body;
    color: $very-dark-magenta;
    font-weight: 700;
}